/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

table {
  border-collapse: collapse;
}

table td,
table th {
  border: 1px solid #777;
  padding-left: 4px;
  padding-right: 4px;
}

table th {
  -webkit-padding-end: 16px;
  background: rgb(224, 236, 255);
  padding-bottom: 4px;
  padding-top: 4px;
  white-space: nowrap;
}

table th[data-sort-key] {
  cursor: pointer;
}

table th div.header-cell-container {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  /* Make sure mouse events pass through to the underlying <th>. */
  pointer-events: none;
}

table th div.header-cell-container div {
  /* Make sure mouse events pass through to the underlying <th>. */
  pointer-events: none;
}

table th div.header-cell-container div div {
  /* Make sure mouse events pass through to the underlying <th>. */
  pointer-events: none;
}

table td.title-cell {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
}

table td div.title-cell-container {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

table td div.favicon-div {
  height: 16px;
  margin: 3px;
  min-width: 16px;
}

table td div.title-div {
  overflow: hidden;
  white-space: nowrap;
}

table td.tab-url-cell {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
}

table td.visibility-cell {
  width: 6em;
}

table td.loading-state-cell {
  width: 6em;
}

table td.state-cell {
  width: 10em;
}

table td.boolean-cell,
table td.discard-count-cell,
table td.reactivation-score-cell,
table td.site-engagement-score-cell,
table td.utility-rank-cell {
  text-align: center;
}

table td div.is-auto-discardable-link,
table td.actions-cell {
  font-size: 0.6rem;
}

table tr:hover {
  background: rgb(255, 255, 187);
}

th div.header-cell-container::after {
  content: '▲';
  opacity: 0;
}

th.sort-column div.header-cell-container::after {
  content: '▲';
  opacity: 1;
}

th[data-sort-reverse].sort-column div.header-cell-container::after {
  content: '▼';
  opacity: 1;
}
