/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.details {
  width: 100%;
}

.details td {
  min-width: 100px;
}

.details tr:nth-child(odd) {
  background: rgb(239, 243, 255);
}

#suggestion-result {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

#metric-event {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

#cached-suggestions>div {
  margin-bottom: 5px;
}
