/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:root {
  color: #333;
  font: 13px Roboto, sans-serif;
  font-weight: 400; /* roboto-regular */
  height: 640px;
  width: 768px;
}

[slot='footer'] {
  padding: 18px 64px 0;
}

#recommend-apps-skip-button {
  -webkit-padding-end: 6px;
  color: rgba(0, 0, 0, 0.54);
}

#recommend-apps-install-button,
#recommend-apps-retry-button {
  -webkit-padding-end: 18px;
}

.recommend-apps-loaded .app-list-loading,
.recommend-apps-loaded .app-list-error,
.recommend-apps-loading .subtitle,
.recommend-apps-loading #app-list-view-container,
.recommend-apps-loading .app-list-error,
.recommend-apps-loaded #recommend-apps-retry-button,
.recommend-apps-loading #recommend-apps-install-button,
.recommend-apps-loading #recommend-apps-retry-button,
.error .subtitle,
.error #app-list-view-container,
.error .app-list-loading,
.error #recommend-apps-install-button {
  display: none;
}

#app-list-view-container {
  height: 200px;
}
